name: CI Docker
on:
  push:
    branches: [ main ]
    paths:
      - Dockerfile
      - docker-entrypoint.sh
      - compose.yaml
      - .github/workflows/ci-docker.yml
  pull_request:
    branches: [ main ]
    paths:
      - Dockerfile
      - docker-entrypoint.sh
      - compose.yaml
      - .github/workflows/ci-docker.yml

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker Image
        run: docker build -t sleep-api:ci .
